.loading_spinner_button {
    background-color: $color-2;
    width: 17.5%;
}

.loading_spinner_button img {
    width: 1.7vw;
    padding-left: 34%;
}

.loading_spinner_register {
    background-color: $color-8;
    color: $color-1;
    transition: all 0.5s;
    margin-right: 5%;
    margin-left: 5%;
    font-family: $font-2;
    font-size: 1.5vw;
    width: 18%;
    padding: 1%;
    padding-left: 2.7%;
}

.loading_spinner_register:hover {
    background-color: $color-3;
}

.loading_spinner_register img {
    width: 1.7vw;
    padding-left: 34%;
}