.wid_today_2 {
    background-color: #d4d4d4;
    width: 33%;
    border-radius: 8px;
    margin: 1%;
    padding: 1%;

}

.wid_today_3 {
    background-color: #d4d4d4;
    width: 33%;
    border-radius: 8px;
    margin: 1%;
    padding: 1%;

    overflow-x: scroll;

}

.wid_today_3::-webkit-scrollbar {
    display: none;
}

.container_scroll::-webkit-scrollbar {
    display: none;
}


.container_scroll {
    // overflow-x: scroll;
    //background-color: red;
    display: flex;
    flex-wrap: nowrap;
    height: 30vh;
    overflow: scroll;
}

.wid_f {
    background-color: #a9a9a9;
    border-radius: 8px;
    padding: 1%;
    margin: 1%;
}