.AddButton {

    background: transparent;
    font-size: 1.5vw;

    text-align: center;
    font-family: $font-2;
    transition: all 0.2s;
}

.div_button {
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.AddButton:hover {
    color: $color-3;
}

.AddButton:active {
    opacity: 0.5;
}